# project stuff:
db.sqlite3
cyqlo.wiki
cyqlo/settings.py

# my stuff:
**/*.DS_STORE
**/*.swp
**/__pycache__
**/*.pyc

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
