packages:
  yum:
    postgresql93-devel: []

container_commands:
  01_migrate:
    command: "python manage.py makemigrations --noinput"
    command: "python manage.py migrate --noinput"
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
  03_createsu:
    command: "python manage.py createsu"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: cyqlo/wsgi.py
