#homepage-banner {
    background: url('../img/FullSizeRender-4.jpg') no-repeat right;
    background-size: cover;
    height: 100vh;
}

#homepage-banner .container {
    position: relative;
    top: 10%;
    height: 100%;
    text-align: center;

}

#homepage-banner h2 {
  color: #36454f;
  margin-bottom: 30px;
}

#homepage-banner .btn {
  font-size: 22px;
  padding: 8px 30px;
  background-color: #6fc37f;
}
