#homepage-banner {
    background: url('../img/biking-banner.jpg') no-repeat fixed top center;
    background-size: cover;
    height: 100vh
}

#homepage-banner .container {
    position: relative;
    top: 35%;
    height: 100%;
    text-align: center;
}

#homepage-banner h2 {
  margin-bottom: 30px;
}

#homepage-banner button {
  font-size: 20px;
  padding: 8px 30px;
}
