#map {
  height: 100vh;
  width: 100%;    /*or auto;*/
  text-align: center;
  margin-left: 0px;
  margin: 0px;
  padding-top: 20px;
}


#floating-panel {
  /*position: absolute;*/
  /*top: 50px !important;
  left: 10px !important;*/
  width:inherit;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: left;
  line-height: 30px;
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

#right-panel {
  line-height: 30px;
  padding-left: 0px;
  padding: 0px;
  height: 400px;
  float: right;
  width: auto%;
  overflow: auto;
}


input[type="text"] {
   width: 100%;
   box-sizing: border-box;
   -webkit-box-sizing:border-box;
   -moz-box-sizing: border-box;
}

#routeheader {
  display:inline-block;
  padding-left: 10px;
  padding-top: 30px;
  padding-bottom: 10px;

}

#routecopy {
  padding-left: 10px;
  padding-bottom: 20px;
  width: auto;
  font-size: 16px;
}

/*Override table-responsive class*/

.table-responsive {
  width: auto;
  border: 1px solid black;
  border-radius: 5px;
}
