{% extends "base.html" %} {% block content %}

<div id="about-banner">
  <div class="container" align="center">
    <div class="row content-margin-top">
      <p align="left" class="text-style">
        We're creating a world where everyone bikes to work, bikes to explore, and bikes for fun.
        <!-- WE'RE CREATING A WORLD WHERE EVERYONE BIKES TO WORK, BIKES TO EXPLORE, AND BIKES FOR FUN. -->
      </p>
    </div>
  </div>
</div>

<div class="emblem-row">
  <div class="emblem-col">
    <div class="icon">
      <img src="/static/img/bike-safety.jpg">
    </div>
    <h2> SAFETY </h2>
    <p> As a team who loves biking, we know how treacherous biking around and out of the city can be. We've built Cyqlo to ease the pain for cyclists of all levels. We’re tackling the tough problems like real-time bike lane conditions by implementing a Waze-like community for bikers. Cyqlo will discretely let you know when there are hazardous conditions along your path including potholes, obstructions, and even when you’re approaching notoriously dangerous intersections.
    </p>
  </div>
  <div class="emblem-col">
    <div class="icon">
      <img src="/static/img/compass-icon.png">
    </div>
    <h2> NAVIGATION </h2>
    <p>Knowing where to go is important no matter the mode of travel. The odds seem a little higher when biking as a misstep, or inaccurate directions can lead to a not so pleasant journey. Road closures and construction add chaos and uncertainty to biking, so we're making sure our riders are armed with the information to make their journeys more comfortable and well-informed. We’re providing cyclists with accurate turn-by-turn directions to ensure that they get to their destination on time and with less confusion.
    </p>
  </div>
  <div class="emblem-col">
    <div class="icon">
      <img src="/static/img/explore.png">
    </div>
    <h2> EXPLORATION </h2>
    <p>Whether you haven't biked in years, you're new to a city, or your same old routes are getting stale, Cyqlo wants to help users find and explore new places. We're leveraging technology to help reconnect people with nature and helping them discover the beauty in their own backyard, or somewhere completely new. We love the feeling of finding hidden gems in unexpected places and we want to share that beautiful feeling with our riders.
      Find your Insta-grammable moment and come ride with Cyqlo!
    </p>
  </div>
</div>

<div class="emblem-row">
  <div class="emblem-col">
  </div>
  <div class="emblem-col">
    <h2> OUR TEAM </h2>
  </div>
</div>

<div class="emblem-row">
  <div class="emblem-col">
    <div class="icon">
      <img src="/static/img/Michael_Hendrickson.jpg">
    </div>
    <h2> MICHAEL HENDRICKSON </h2>
    <p> Michael is a life-long New Yorker and has 10 years of technology experience at companies including Apple Inc. and LightSail Education. Michael recently received a Bachelors of Science degree in Computer Science from The City College of New York. Though he didn’t learn to ride a two-wheeler until he was a teenager, Michael is an avid biker who loves a good destination with a delicious bite to eat.
    </p>
  </div>
  <div class="emblem-col">
    <div class="icon">
      <img src="/static/img/daniel-obi.jpg">
    </div>
    <h2> DANIEL OBI </h2>
    <p> This dude worked at NASA </p>
    </p>
  </div>
  <div class="emblem-col">
    <div class="icon">
      <img src="/static/img/john-spencer.jpg">
    </div>
    <h2> JOHN SPENCER </h2>
    <p> This dude works at Casper
    </p>
  </div>
</div>

<div class="emblem-row">
  <div class="emblem-col">
    <div class="icon">
      <img src="/static/img/jun.jpg">
    </div>
    <h2> JUNHUA WU </h2>
    <p> This dude is a hardcore cyclist
    </p>
  </div>
  <div class="emblem-col">
    <div class="icon">
      <img src="/static/img/haris-nadeem.png">
    </div>
    <h2> HARIS NADEEM </h2>
    <p> This dude is also a math major </p>
  </div>
</div>

<!-- <div class="emblem-row" >
  <div class="team-photo">
  </div>
</div -->

{% endblock content %}
