{% extends "base.html" %} {% block content %}

<div id="about-banner">
  <div class="container" align="center">
    <div class="row content-margin-top">
      <p align="left" class="text-style">
        <!-- Creating a world where everyone bikes to work, bikes to explore, and bikes for fun. -->
        CREATING A WORLD WHERE EVERYONE BIKES TO WORK, BIKES TO EXPLORE, AND BIKES FOR FUN.
      </p>
    </div>
  </div>
</div>

<div class="emblem-row">
  <div class="emblem-col">
    <div class="icon">
      <img src="/static/img/bike-safety.jpg">
    </div>
    <h2> SAFETY </h2>
    <p> As a team who loves to bike, we know how trecherous biking around and out of the city can be. That's exactly why we've built Cyqlo: To ease the pain for all types of cyclists. We're tackling the problem of real-time road conditions, to let cyclists
      unobtrusively know when there are hazardous conditions along their path and when they're approaching notoriously dangerous intersections.
    </p>
  </div>
  <div class="emblem-col">
    <div class="icon">
      <img src="/static/img/compass-icon.png">
    </div>
    <h2> NAVIGATION </h2>
    <p> Knowing where to go is a necessary component no matter the mode of travel. When biking, the odds seem a little higher as a misstep, or innacurate directions can lead you on a not so pleasant journey. Road closures and construction add chaos and uncertainty
      to biking, and we're making sure our riders are armed with the information to make their journeys more comfortable and well-informed.
    </p>
  </div>
  <div class="emblem-col">
    <div class="icon">
      <img src="/static/img/explore.png">
    </div>
    <h2> EXPLORATION </h2>
    <p>Whether you haven't biked in years, you're new to a city, or your same old routes are getting stale, Cyqlo wants to help users find and explore new places. We're leverging technology to help reconnect people with nature and helping them discover the
      beauty in their own backyard, or somewhere completely new. We love the feeling of finding hidden gems and beauty in unexpected places and we want to share that with our riders.
    </p>
  </div>
</div>

<div class="emblem-row">
  <div class="emblem-col">
  </div>
  <div class="emblem-col">
    <h2> OUR TEAM </h2>
  </div>
</div>

<div class="emblem-row">
  <div class="emblem-col">
    <div class="icon">
      <img src="/static/img/Michael_Hendrickson.jpg">
    </div>
    <h2> MICHAEL HENDRICKSON </h2>
    <p> A NY native, Michael is no stranger to the plight of the city biker.
    </p>
  </div>
  <div class="emblem-col">
    <div class="icon">
      <img src="/static/img/daniel-obi.jpg">
    </div>
    <h2> DANIEL OBI </h2>
    <p> This dude worked at NASA </p>
    </p>
  </div>
  <div class="emblem-col">
    <div class="icon">
      <img src="/static/img/john-spencer.jpg">
    </div>
    <h2> JOHN SPENCER </h2>
    <p> This dude works at Casper
    </p>
  </div>
</div>

<div class="emblem-row">
  <div class="emblem-col">
    <div class="icon">
      <img src="/static/img/jun.jpg">
    </div>
    <h2> JUNHUA WU </h2>
    <p> This dude is a hardcore cyclist
    </p>
  </div>
  <div class="emblem-col">
    <div class="icon">
      <img src="/static/img/haris-nadeem.png">
    </div>
    <h2> HARIS NADEEM </h2>
    <p> This dude is also a math major </p>
  </div>
</div>

<!-- <div class="emblem-row" >
  <div class="team-photo">
  </div>
</div -->

{% endblock content %}
