{% extends "base.html" %}
{%load static %}

{%block content%}
<script rel ="javascript" src="{% static "javascripts/greenBronx.js" %}"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAde5aRQ262GgOgdqkY8Jiu5KzYQYj2YKg&callback=initMap">
</script>
<script rel ="javascript" src="{% static "javascripts/cityracks.js" %}"></script>
<script rel ="javascript" src="{% static "javascripts/markerclustererplus_packed.js" %}"></script>
<!-- <div class="row content-margin-top"> -->
<div id = routeheader>
  <h2>Bronx Green Lands </h2>
</div>
<div id ="routecopy"> Explore the Bronx like never before.
   This route emphasizes the green parts of the Bronx which are an eye opener.
   Experience the historic scenery of Van Cortlandt's House Museum.
   Then travel to the beautiful New York Botonic Gardens.
   Just a short distance away is the largest metropolitan zoo in the United States, The Bronx Zoo.
   Next enjoy biking through Pelham Bay Park to the historic Bartow-Pell Mansion Museum.
   Lastly, conclude the bike route with some nice and relaxing breezes on the boardwalk of Orchard Beach.
   If ever in a jiffy, there are bike shops along the way!
</div>
<!-- </div> -->
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Location</th>
              <th>Distance (Miles)</th>
              <th>Est. Duration</th>
              <th>Difficulty</th>
              <th>Lane Type</th>
              <th>Bike Rack</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>The Bronx</td>
              <td>18</td>
              <td>2 hours</td>
              <td class="alert alert-warning">Moderate</td>
              <td class="alert alert-success">Greenway</td>
              <td><img src="{% static "img/rackicon.png" %}"></td>
            </tr>
          </tbody>
        </table>
        </div>
    <div id="right-panel"></div>
      <div id="map"></div>
        <div id="floating-panel">
            <strong>Start:</strong>
              <input id="start" type="text" value="Van Cortlandt House Museum" readonly="readonly"/></input>
            <br>
            <strong>End:</strong>
              <input id="end" type="text" value="Orchard Beach"readonly="readonly"/></input>
              <br>

          <b>Waypoints:</b> <br>
            <select multiple id="waypoints">
              <option value="40.8795504,-73.8733528">Boogie Down Bicycles</option>
              <option value="40.863611,-73.878333">Botanical Gardens</option>
              <option value="40.8505949,-73.8791869">Bronx Zoo</option>
              <option value="40.8701988,-73.8739714">The Bikelery</option>
              <option value="40.8519482,-73.8635843">Westchester Bicycle Pro Shop</option>
              <option value="40.8519482,-73.8635843">Pelham Bay Park</option>
              <option value="40.8718417,-73.8080253">Bartow-Pell Mansion Museum</option>

              <input class="sign-up-cta btn btn-primary" type="button" value="Add Stops" id="submit">
            </select>
          <input class="sign-up-cta btn btn-primary" type="button" id="buttonid" value="Go!" onclick="func()">
        </div>
      <br>
{% endblock content %}
