{% extends "base.html" %}
{%load static %}

{%block content%}
<script rel ="javascript" src="{% static "javascripts/columbuscircle_bearmtn.js" %}"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAde5aRQ262GgOgdqkY8Jiu5KzYQYj2YKg&callback=initMap">
</script>
<div id = routeheader> <h2>Columbus Circle to Bear Mountain</h2> </div>
<div id ="routecopy">"Be..bea..bear mountain!" If you are looking for a challenge route out of the urban life in the city. Bear mountain is for you. Scenic views and a lots of climbs along the route.</div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Location</th>
          <th>Distance (Miles)</th>
          <th>Est. Duration</th>
          <th>Difficulty</th>
          <th>Lane Type</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Manhattan to Bear Mtn</td>
          <td>45</td>
          <td>5 hours(one-way-trip)</td>
          <td class="alert alert-success">Advanced</td>
          <td class="alert alert-success">Road</td>
        </tr>
      </tbody>
    </table>
    </div>
    <div id="right-panel"></div>
      <div id="map"></div>
        <div id="floating-panel">
            <strong>Start:</strong>
              <input id="start" type="text" value="Columbus Circle" readonly="readonly"/></input>
            <br>
            <strong>End:</strong>
              <input id="end" type="text" value="Bear Mountain" readonly="readonly"/></input>
              <br>

          <b>Waypoints:</b> <br>
            <select multiple id="waypoints">
              <option value="40.8503,-73.9469">Little Red Lighthouse</option>
              <option value="41.0779513,-74.0622196">9W Bike Shop</option>
              <option value="40.8612, -73.9594">Strcitly Bicycle</option>
              <option value="41.2719293,-73.8810895">Cove Deli</option>
              <option value="40.9935276,-74.0327032">Bunbury's Coffee Shop</option>
              <input class="sign-up-cta btn btn-primary" type="button" value="Add Stops" id="submit">
            </select>
          <input class="sign-up-cta btn btn-primary" type="button" id="buttonid" value="Go!" onclick="func()">
        </div>
      <br>
{% endblock content %}
