{% extends "base.html" %}
{%load static %}

{%block content%}
<script rel ="javascript" src="{% static "javascripts/columbuscircle_bearmtn.js" %}"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAde5aRQ262GgOgdqkY8Jiu5KzYQYj2YKg&callback=initMap">
</script>
<script rel ="javascript" src="{% static "javascripts/cityracks.js" %}"></script>
<script rel ="javascript" src="{% static "javascripts/markerclustererplus_packed.js" %}"></script>
<div id = routeheader> <h2>Bear Mountain State Park</h2> </div>
<div id ="routecopy">"Be..bea..bear mountain!" If you are looking for a long ride to escape the hustle and bustle
  of the city, Bear Mountain is perfect for you! With stunning views throughout the ride, this route is
  the perfect getaway. </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Location</th>
          <th>Distance</th>
          <th>Duration</th>
          <th>Difficulty</th>
          <th>Lane Type</th>
          <th>Bike Rack</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Bear Mountain</td>
          <td>45</td>
          <td>5 hours (one-way)</td>
          <td class="alert alert-danger">Advanced</td>
          <td class="alert alert-warning">Road</td>
          <td><img src="{% static "img/rackicon.png" %}"></td>
        </tr>
      </tbody>
    </table>
    </div>
        <div id="floating-panel">
            <strong>Start:</strong>
              <input id="start" type="text" value="Current Location" readonly="readonly"/></input>
            <br>
            <strong>End:</strong>
              <input id="end" type="text" value="Bear Mountain" readonly="readonly"/></input>
              <br>

          <b>Waypoints:</b> <br>
            <select multiple id="waypoints">
              <option value="40.785668, -73.984504">Boat Basin Cafe</option>
              <option value="40.849425, -73.946225">Little Red Lighthouse</option>
              <option value="41.2846, -74.0006">Bear Mountain</option>
              <option value="41.0779513,-74.0622196">9W Bike Shop</option>
              <option value="41.2719293,-73.8810895">Cove Deli</option>
              <option value="40.9935276,-74.0327032">Bunbury's Coffee Shop</option>
            </select>
        <input class="sign-up-cta btn btn-primary" type="button" id="buttonid" value="Directions">
        <input class="sign-up-cta btn btn-primary" type="button" id="gobutton" value="Turn-by-turn"</button>
      </div>
      <br>

      <div id="map"></div>
      <div id="right-panel"></div>
{% endblock content %}
