{% extends "base.html" %}
{%load static %}

{%block content%}
<script rel ="javascript" src="{% static "javascripts/cunningham_park.js" %}"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAde5aRQ262GgOgdqkY8Jiu5KzYQYj2YKg&callback=initMap">
</script>
<script rel ="javascript" src="{% static "javascripts/cityracks.js" %}"></script>
<script rel ="javascript" src="{% static "javascripts/markerclustererplus_packed.js" %}"></script>
<div id = routeheader> <h2>Cunningham Park Mountain Bike Trail</h2> </div>
<div id ="routecopy">Looking for a nice easy trail ride without having to leave the city?
  This ride is for you! Set in the heart of Queens, the Cunningham Park trail is a lesiurely ride
 removed from the traffic and craze of NYC. </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Location</th>
          <th>Distance</th>
          <th>Duration</th>
          <th>Difficulty</th>
          <th>Lane Type</th>
          <th>Bike Rack</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Queens</td>
          <td>1</td>
          <td>10 mins</td>
          <td class="alert alert-success">Easy</td>
          <td class="alert alert-success">Trail</td>
          <td><img src="{% static "img/rackicon.png" %}"></td>
        </tr>
      </tbody>
    </table>
    </div>
        <div id="floating-panel">
            <strong>Route Head:</strong>
              <input id="start" type="text" value="Cunningham Park Trailhead" readonly="readonly"/></input>
            <br>
            <strong>End:</strong>
              <input id="end" type="text" value="Cunningham Park" readonly="readonly"/></input>
              <br>

          <b>Waypoints:</b> <br>
            <select multiple id="waypoints">
            <!--
              <option value="40.742406, -73.765203"> Start </option>
              <option value="40.741053, -73.774528"> End </option>
          -->

            </select>
        <input class="sign-up-cta btn btn-primary" type="button" id="buttonid" value="Directions">
        <input class="sign-up-cta btn btn-primary" type="button" id="gobutton" value="Turn-by-turn"</button>
      </div>
      <br>
      <div id="map"></div>
      <div id="right-panel"></div>
{% endblock content %}
