{% extends "base.html" %}
{%load static %}

{%block content%}
<script rel ="javascript" src="{% static "javascripts/gantry_park_citi_field.js" %}"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAde5aRQ262GgOgdqkY8Jiu5KzYQYj2YKg&callback=initMap">
</script>
<script rel ="javascript" src="{% static "javascripts/cityracks.js" %}"></script>
<script rel ="javascript" src="{% static "javascripts/markerclustererplus_packed.js" %}"></script>
<div id = routeheader> <h2>Gantry Park to Citi Field</h2> </div>
<div id ="routecopy"></div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Location</th>
          <th>Distance</th>
          <th>Duration</th>
          <th>Difficulty</th>
          <th>Lane Type</th>
          <th>Bike Rack</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Gantry Park/ Citi Field</td>
          <td>6.8</td>
          <td>42</td>
          <td class="alert alert-danger">Easy</td>
          <td class="alert alert-warning">Bike Path/Road</td>
          <td><img src="{% static "img/rackicon.png" %}"></td>
        </tr>
      </tbody>
    </table>
    </div>
        <div id="floating-panel">
            <strong>Route Head:</strong>
              <input id="start" type="text" value="Current Location" readonly="readonly"/></input>
            <br>
            <strong>End:</strong>
              <input id="end" type="text" value="Citi Field" readonly="readonly"/></input>
              <br>

          <b>Waypoints:</b> <br>
            <select multiple id="waypoints">
            <!-- Add waypoints here -->

            <!--
                <option value="40.745523, -73.958742">Gantry Plaza State Park</option>
                <option value="40.756711, -73.847091">Citi Field</option>
            -->
            </select>
        <input class="sign-up-cta btn btn-primary" type="button" id="buttonid" value="Directions">
        <input class="sign-up-cta btn btn-primary" type="button" id="gobutton" value="Turn-by-turn"</button>
      </div>
      <br>

      <div id="map"></div>
      <div id="right-panel"></div>
{% endblock content %}
