{% extends "base.html" %}
{%load static %}

{%block content%}
<script rel ="javascript" src="{% static "javascripts/greenbronx.js" %}"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAde5aRQ262GgOgdqkY8Jiu5KzYQYj2YKg&callback=initMap">
</script>
<!-- <div class="row content-margin-top"> -->
<div id = routeheader>
  <h2>The Green Bronx</h2>
</div>
<div id ="routecopy"> Explore the Bronx like never before.
   This route emphasizes the green parts of the Bronx which are an eye open.
   Experience the historic scenery of Van Cortlandt's House Museum.
   Then travels to the beautiful Botonical Gardens.
   Just a short distance away is the largest metropolitan zoo in the United States, The Bronx Zoo.
   Next enjoy biking by Bartow-Pell Mansion Museum. If ever in a jiffy, there are bike shops along the way!
</div>
<!-- </div> -->
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Location</th>
              <th>Distance (Miles)</th>
              <th>Est. Duration</th>
              <th>Difficulty</th>
              <th>Lane Type</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Manhattan</td>
              <td>11.3</td>
              <td>1.5 hours</td>
              <td class="alert alert-warning">Moderate</td>
              <td class="alert alert-success">Greenway</td>
            </tr>
          </tbody>
        </table>
        </div>
    <div id="right-panel"></div>
      <div id="map"></div>
        <div id="floating-panel">
            <strong>Start:</strong>
              <input id="start" type="text" value="Van Cortlandt House Museum" readonly="readonly"/></input>
            <br>
            <strong>End:</strong>
              <input id="end" type="text" value="Van Cortlandt House Museum"readonly="readonly"/></input>
              <br>

          <b>Waypoints:</b> <br>
            <select multiple id="waypoints">
              <option value="40.8795504,-73.8733528">Boogie Down Bicycles</option>
              <option value="40.863611,-73.878333">Botanical Gardens</option>
              <option value="40.8505949,-73.8791869">Bronx Zoo</option>
              <option value="40.8701988,-73.8739714">The Bikelery</option>
              <option value="40.8718417,-73.8080253">Bartow-Pell Mansion Museum</option>
              <option value="40.8921337,-73.8555362">Arrow Cycle Inc</option>

              <input class="sign-up-cta btn btn-primary" type="button" value="Add Stops" id="submit">
            </select>
          <input class="sign-up-cta btn btn-primary" type="button" id="buttonid" value="Go!" onclick="func()">
        </div>
      <br>
{% endblock content %}
