{% extends "base.html" %}
{%load static %}

{%block content%}
<script rel ="javascript" src="{% static "javascripts/pizza.js" %}"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAde5aRQ262GgOgdqkY8Jiu5KzYQYj2YKg&callback=initMap">
</script>
<script rel ="javascript" src="{% static "javascripts/cityracks.js" %}"></script>
<script rel ="javascript" src="{% static "javascripts/markerclustererplus_packed.js" %}"></script>

<!-- <div class="row content-margin-top"> -->
<div id = routeheader>
  <h2>Cyqlo's Pizza Tour <img src="{% static "img/pizza_slice.png" %}"> </h2>
</div>
<div id ="routecopy"> Explore all of NYC's finest doughy, saucey, and cheesey
  establishments by building the Pizza Tour that's just right for you and your friends.
  Remember, "carb-loading" is an essential part of long rides, so dig in! <br> <br>
  P.S. achieve GOAT status by visiting every pizza place on the list.
</div>
<!-- </div> -->
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Location</th>
              <th>Distance (Miles)</th>
              <th>Est. Duration</th>
              <th>Difficulty</th>
              <th>Lane Type</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>NYC</td>
              <td>Depends on Pizza</td>
              <td>Pizza Time</td>
              <td class="alert alert-success">Delicious</td>
              <td class="alert alert-warning">Variable</td>
            </tr>
          </tbody>
        </table>
        </div>
    <div id="right-panel"></div>
      <div id="map"></div>
        <div id="floating-panel">
            <strong>Start:</strong>
              <input id="start" type="text" value="Current Location" readonly="readonly"/></input>
            <br>
          <b>Waypoints:</b> <br>
            <select multiple id="waypoints">
              <option value="40.62501, -73.96143">Di Fara Pizza</option>
              <option value="40.59473, -73.98128">L&B Spumoni Garden</option>
                <option value="40.70262, -73.9932">Grimaldi's</option>
              <option value="40.73171, -73.9839">Artichoke Basille</option>
              <option value="40.70507, -73.93359">Roberta's</option>
              <option value="40.66164, -73.99341">Luigi's Pizza</option>
              <option value="40.83826, -73.82864">Louie & Ernie's</option>
                <option value="40.83826, -73.82864">Sal and Carmine</option>
              <input class="sign-up-cta btn btn-primary" type="button" value="Add Stops" id="submit">
            </select>
          <input class="sign-up-cta btn btn-primary" type="button" id="buttonid" value="Go!" >
        </div>
      <br>
{% endblock content %}
