{% extends "base.html" %}
{%load static %}

{%block content%}
<script rel ="javascript" src="{% static "javascripts/pizza.js" %}"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAde5aRQ262GgOgdqkY8Jiu5KzYQYj2YKg&callback=initMap">
</script>
<script rel ="javascript" src="{% static "javascripts/cityracks.js" %}"></script>
<script rel ="javascript" src="{% static "javascripts/markerclustererplus_packed.js" %}"></script>

<!-- <div class="row content-margin-top"> -->
<div id = routeheader>
  <h2>Cyqlo's Historic Hamilton Tour <img src="{% static "img/pizza_slice.png" %}"> </h2>
</div>
<div id ="routecopy"> Explore all of NYC's finest doughy, saucey, and cheesey
  establishments by building the Pizza Tour that's just right for you and your friends.
  Remember, "carb-loading" is an essential part of long rides, so dig in! <br> <br>
  P.S. achieve GOAT status by visiting every pizza place on the list.
</div>
<!-- </div> -->
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Location</th>
              <th>Distance (Miles)</th>
              <th>Est. Duration</th>
              <th>Difficulty</th>
              <th>Lane Type</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>NYC</td>
              <td>Variable</td>
              <td>Variable</td>
              <td class="alert alert-success">Informative</td>
              <td class="alert alert-warning">Variable</td>
            </tr>
          </tbody>
        </table>
        </div>
    <div id="right-panel"></div>
      <div id="map"></div>
        <div id="floating-panel">
            <strong>Start:</strong>
              <input id="start" type="text" value="Current Location" readonly="readonly"/></input>
            <br>
          <b>Waypoints:</b> <br>
            <select multiple id="waypoints">
              <option value="40.8210305,-73.9474058">Hamilton Grange</option>
              <option value="40.7080842,-74.0123767">Trinity Church</option>
                <option value="40.8221884,-73.9479472">Hamilton Statue - St. Lukes</option>
              <option value="40.8068467,-73.9638895">Hamilton Hall Columbia</option>
              <option value="40.7033762,-74.0135619">Fraunces Tavern & Museum</option>
              <option value="40.7685612,-74.0180774">Weehawken Dueling Grounds</option>
              <option value="40.737961,-74.0094257">Place of Passing</option>
                <option value="40.7805816,-73.9654611">Central Park Statue</option>
              <input class="sign-up-cta btn btn-primary" type="button" value="Add Stops" id="submit">
            </select>
          <input class="sign-up-cta btn btn-primary" type="button" id="buttonid" value="Go!" >
        </div>
      <br>
{% endblock content %}
