{% extends "base.html" %}
{%load static %}

{%block content%}
<script rel ="javascript" src="{% static "javascripts/pizza.js" %}"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAde5aRQ262GgOgdqkY8Jiu5KzYQYj2YKg&callback=initMap">
</script>
<!-- <div class="row content-margin-top"> -->
<div id = routeheader>
  <h2>Cyqlo's Pizza Tour</h2>
</div>
<div id ="routecopy"> Mmmmm Pizza!
</div>
<!-- </div> -->
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Location</th>
              <th>Distance (Miles)</th>
              <th>Est. Duration</th>
              <th>Difficulty</th>
              <th>Lane Type</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Manhattan</td>
              <td>11.3</td>
              <td>1.5 hours</td>
              <td class="alert alert-warning">Moderate</td>
              <td class="alert alert-success">Greenway</td>
            </tr>
          </tbody>
        </table>
        </div>
    <div id="right-panel"></div>
      <div id="map"></div>
        <div id="floating-panel">
            <strong>Start:</strong>
              <input id="start" type="text" value="Battery Park" readonly="readonly"/></input>
            <br>
            <strong>End:</strong>
              <input id="end" type="text" value="George Washington Bridge"readonly="readonly"/></input>
              <br>

          <b>Waypoints:</b> <br>
            <select multiple id="waypoints">
              <option value="40.785668, -73.984504">Boat Basin Cafe</option>
              <option value="40.764437, -73.998921">Intrepid Museum</option>
                <option value="40.739345, -74.008872">Whitney Museum</option>
              <option value="40.794520, -73.971377">Bike Shop</option>

              <input class="sign-up-cta btn btn-primary" type="button" value="Add Stops" id="submit">
            </select>
          <input class="sign-up-cta btn btn-primary" type="button" id="buttonid" value="Go!" onclick="func()">
        </div>
      <br>
{% endblock content %}
