{% extends "base.html" %}
{%load static %}

{%block content%}
<script rel ="javascript" src="{% static "javascripts/pizza_geo.js" %}"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAde5aRQ262GgOgdqkY8Jiu5KzYQYj2YKg&callback=initMap">
</script>
<script rel ="javascript" src="{% static "javascripts/cityracks.js" %}"></script>
<script rel ="javascript" src="{% static "javascripts/markerclustererplus_packed.js" %}"></script>

<!-- <div class="row content-margin-top"> -->
<div id = routeheader>
  <h2>Cyqlo's Pizza Tour <img src="{% static "img/pizza_slice.png" %}"> </h2>
</div>
<div id ="routecopy"> We're mashing together two of our favorite things - biking and pizza.
  Explore some of NYC's finest doughy, saucey, and cheesey
  establishments with your friends.
  Remember, "carb-loading" is an essential part of long rides, so dig in!
  This carb loaded expedition is suitable for anyone who knows how to ride a bike and loves pizza.
  <br> <br>
</div>
<!-- </div> -->
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Location</th>
              <th>Distance</th>
              <th>Duration</th>
              <th>Difficulty</th>
              <th>Lane Type</th>
              <th>Bike Rack</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>NYC</td>
              <td>~17 miles</td>
              <td>Pizza Time</td>
              <td class="alert alert-warning">Challenging</td>
              <td class="alert alert-warning">Variable</td>
              <td><img src="{% static "img/rackicon.png" %}"></td>
            </tr>
          </tbody>
        </table>
        </div>
        <br>
        <div>
            <ul class="enlarge">
                <li><img src="{% static "img/carousel/pizza_tour/Bleecker_Street_Pizza.JPG" %}" alt="Bleecker Street Pizza" /><span><img src="{% static "img/carousel/pizza_tour/Bleecker_Street_Pizza.JPG" %}" alt="Bleecker Street Pizza" /><br />Bleecker Street Pizza</span></li>
                <li><img src="{% static "img/carousel/pizza_tour/Luigi_Pizza.jpeg" %}" alt="Luigi's Pizza" /><span><img src="{% static "img/carousel/pizza_tour/Luigi_Pizza.jpeg" %}" alt="Luigi's Pizza" /><br />Luigi's Pizza</span></li>
                <li><img src="{% static "img/carousel/pizza_tour/Luigi_Pizza2.jpeg" %}" alt="Luigi's Pizza" /><span><img src="{% static "img/carousel/pizza_tour/Luigi_Pizza2.jpeg" %}" alt="Luigi's Pizza" /><br />Lighthouse</span></li>
                <li><img src="{% static "img/carousel/pizza_tour/Vinnie_Pizzeria.jpeg" %}" alt="Vinnie's Pizzeria" /><span><img src="{% static "img/carousel/pizza_tour/Vinnie_Pizzeria.jpeg" %}" alt="Vinnie's Pizzeria" /><br />Vinnie's Pizzeria</span></li>
            </ul>
        </div>
        <div id="floating-panel">
            <strong>Start:</strong>
              <input id="start" type="text" value="Current Location" readonly="readonly"/></input>
            <br>
              <b>Pizzeria Stops:</b>
              <br>
                <select multiple id="waypoints">
                  <option value="40.7321928, -74.0055877"> Bleeker Street Pizza </option>
                  <option value="40.7224107,-73.9455774">Vinnie's Pizzeria</option>
                  <option value="40.66164, -73.99341">Luigi's Pizza</option>
                  <option value="40.59473, -73.98128">L&B Spumoni Garden</option>
                  <option value="40.6191502,-74.0322862">Artichoke Basille</option>
                  <option value="40.62501, -73.96143">Di Fara Pizza</option> -->
                  <option value="40.70262, -73.9932">Grimaldi's</option>
                  <option value="40.70507, -73.93359">Roberta's</option>
                  <option value="40.83826, -73.82864">Louie & Ernie's</option>
                  <option value="40.83826, -73.82864">Sal and Carmine</option>
                </select>
            <input class="sign-up-cta btn btn-primary" type="button" id="buttonid" value="Directions">
            <input class="sign-up-cta btn btn-primary" type="button" id="gobutton" value="Turn-by-turn"</button>
          </div>
          <br>
      <div id="map"></div>
      <div id="right-panel"></div>

{% endblock content %}
