{% extends "base.html" %}
{%load static %}

{%block content%}
<script rel ="javascript" src="{% static "javascripts/prospect_park_full_loop.js" %}"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAde5aRQ262GgOgdqkY8Jiu5KzYQYj2YKg&callback=initMap">
</script>
<script rel ="javascript" src="{% static "javascripts/cityracks.js" %}"></script>
<script rel ="javascript" src="{% static "javascripts/markerclustererplus_packed.js" %}"></script>
<div id = routeheader> <h2>Prospect Park Full Loop</h2> </div>
<div id ="routecopy">Another multi-use park for cyclists, runners, pedestrians and other athletes. Smaller version of Central Park, but as much fun as Central Park.</div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Location</th>
          <th>Distance</th>
          <th>Duration</th>
          <th>Difficulty</th>
          <th>Lane Type</th>
          <th>Bike Rack</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Prospect Park</td>
          <td>3.4</td>
          <td>18</td>
          <td class="alert alert-danger">Easy</td>
          <td class="alert alert-warning">Bike Path</td>
          <td><img src="{% static "img/rackicon.png" %}"></td>
        </tr>
      </tbody>
    </table>
    </div>
        <div id="floating-panel">
            <strong>Start:</strong>
              <input id="start" type="text" value="Prospect Park" readonly="readonly"/></input>
            <br>
            <strong>End:</strong>
              <input id="end" type="text" value="Prospect Park" readonly="readonly"/></input>
              <br>

          <b>Waypoints:</b> <br>
            <select multiple id="waypoints">
            <!-- 
                <option value="40.6710587,-73.9702677">Grand Army Plaza - Prospect Park</option>
                <option value="40.6521446,-73.9712551">Prosepct Park Loop</option>
                <option value="40.6710587,-73.9702677">Grand Army Plaza - Prospect Park</option>
            -->
            </select>
        <input class="sign-up-cta btn btn-primary" type="button" id="buttonid" value="Directions">
        <input class="sign-up-cta btn btn-primary" type="button" id="gobutton" value="Turn-by-turn"</button>
      </div>
      <br>

      <div id="map"></div>
      <div id="right-panel"></div>
{% endblock content %}
