{% extends "base.html" %}
{%load static %}

{%block content%}
<script rel ="javascript" src="{% static "javascripts/ramen.js" %}"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAde5aRQ262GgOgdqkY8Jiu5KzYQYj2YKg&callback=initMap">
</script>
<script rel ="javascript" src="{% static "javascripts/cityracks.js" %}"></script>
<script rel ="javascript" src="{% static "javascripts/markerclustererplus_packed.js" %}"></script>

<!-- <div class="row content-margin-top"> -->
<div id = routeheader>
  <h2>Cyqlo's Ramen Tour <img src="{% static "img/ramen_cartoon.jpg" %}"> </h2>
</div>
<div id ="routecopy">
</div>
<!-- </div> -->
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Location</th>
              <th>Distance (Miles)</th>
              <th>Est. Duration</th>
              <th>Difficulty</th>
              <th>Lane Type</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>NYC</td>
              <td>~30</td>
              <td>Ramen Time</td>
              <td class="alert alert-warning">Challenging</td>
              <td class="alert alert-warning">Variable</td>
            </tr>
          </tbody>
        </table>
        </div>
    <div id="right-panel"></div>
      <div id="map"></div>
        <div id="floating-panel">
            <strong>Start:</strong>
              <input id="start" type="text" value="Current Location" readonly="readonly"/></input>
            <br>
          <b>Waypoints:</b> <br>
            <select multiple id="waypoints">
              <option value="40.7211814, -73.9969139">Nakamura</option>
              <option value="40.730948, -73.990287">Ippudo NY</option>
              <option value="40.7643401, -73.9876628">Totto Ramen</option>
              <option value="40.8131939, -73.9839077">Jin Ramen</option>
              <option value="40.8131939, -73.9839077">Mu Ramen</option>
              <option value="40.7073797, -73.9332299">ICHIRAN</option>
              <input class="sign-up-cta btn btn-primary" type="button" value="Add Stops" id="submit">
            </select>
          <input class="sign-up-cta btn btn-primary" type="button" id="buttonid" value="Go!" >
        </div>
      <br>
{% endblock content %}
