{% load static %}

<div id="routes" class="container">
  <div class="row content-margin-top">
    <h3 class="text-center title">Explore some cycling routes</h3>
    {% for route in routes %}
    <div class="route col-sm-6 col-md-4" style="height: 200px;">
      <div class="route-name bg-black-transparent">{{ route.route_name }}</div>
      <a href= "{{ route.template }}"><img src="{% static route.image  %}" style="width: 100%;"></a>
    </div>
    {% endfor %}
  </div>
</div>
  <div id="themed-routes" class="container">
    <br>
  <h3 class="text-center title">Explore our themed routes</h3>
  <div class="route col-sm-6 col-md-4" style="height: 200px;">
    <a href = "pizza_tour_route">
      <img src="{% static "img/pizzabike2.gif" %}" style="width: 100%;"></a>
  </div>
  <div class="route col-sm-6 col-md-4" style="height: 200px;">
    <a href = "harlem_soulfood_tour">
      <img src="{% static "img/sweetmama.gif" %}" style="width: 100%;"></a>
  </div>
</div>
</div>
