{% load static %}

<div id="routes" class="container">
  <div class="row content-margin-top">
    {% if no_results %}
      <h4 class="text-center title text-danger">
        We couldn't find any routes to match your request.
        In the meantime, check out these other awesome routes!
      </h4>
    {% else %}
      <h3 class="text-center title">Explore some cycling routes</h3>
    {% endif %}
    {% for route in routes %}
    <div class="route col-sm-6 col-md-4" style="height: 200px;">
      <div class="route-name bg-black-transparent">{{ route.route_name }}</div>
      <a href= "{{ route.template }}"><img src="{% static route.image  %}" style="width:100%; height:100%;"></a>
    </div>
    {% endfor %}
  </div>
</div>
  <div id="themed-routes" class="container">
    <br>
  <h3 class="text-center title">Explore our themed routes</h3>
  <div class="route col-sm-6 col-md-4" style="height: 200px;">
    <div class="route-name bg-black-transparent">NYC Pizza Tour</div>
    <a href = "pizza_tour_route">
      <img src="{% static "img/pizzabike2.gif" %}" style="width:100%; height:100%;"></a>
  </div>
  <div class="route col-sm-6 col-md-4" style="height: 200px;">
    <div class="route-name bg-black-transparent">Harlem Soul Food</div>
    <a href = "harlem_soulfood_tour">
      <img src="{% static "img/sweetmama.gif" %}" style="width:100%; height:100%;"></a>
  </div>
  <div class="route col-sm-6 col-md-4" style="height: 200px;">
    <div class="route-name bg-black-transparent">Hamilton History Tour</div>
    <a href = "hamilton_tour">
      <img src="{% static "img/hamilton.jpg" %}" style="width:100%; height:100%;"></a>
  </div>
  <div class="route col-sm-6 col-md-4" style="height: 200px;">
    <div class="route-name bg-black-transparent">NYC Ramen Tour</div>
    <a href = "ramen_tour">
      <img src="{% static "img/ramen.gif" %}" style="width:100%; height:100%;"></a>
  </div>
</div>
</div>
