{% extends "base.html" %}
{%load static %}

{%block content%}
<script rel ="javascript" src="{% static "javascripts/shoreparkway.js" %}"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAde5aRQ262GgOgdqkY8Jiu5KzYQYj2YKg&callback=initMap">
</script>
<div id = routeheader> <h2>Shore Road Greenway</h2> </div>
<div id ="routecopy">Take a trip to historic Bay Ridge and ride along the Shore Road Parkway. Catch
  stunning views of the worlds longest (and most expensive) suspension bridge and even fish off of
  one of the many piers. Dont forget to work up an appetite and grab some of Brooklyn's famous
  L&B pizza. </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Location</th>
          <th>Distance (Miles)</th>
          <th>Est. Duration</th>
          <th>Difficulty</th>
          <th>Lane Type</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Brooklyn</td>
          <td>4.3</td>
          <td>30 minutes</td>
          <td class="alert alert-success">Easy</td>
          <td class="alert alert-success">Greenway</td>
        </tr>
      </tbody>
    </table>
    </div>
    <div id="right-panel"></div>
      <div id="map"></div>
        <div id="floating-panel">
            <strong>Start:</strong>
              <input id="start" type="text" value="Shore Parkway Start" readonly="readonly"/></input>
            <br>
            <strong>End:</strong>
              <input id="end" type="text" value="Shore Parkway End"readonly="readonly"/></input>
              <br>

          <b>Waypoints:</b> <br>
            <select multiple id="waypoints">
              <option value="40.636948, -74.036726">Narrows Botanical Garden</option>
              <option value="40.639952, -74.032252">Owl's Head Park</option>
              <option value="40.594467, -73.981479">L&B Spumoni Gardens </option>
              <option value="40.620974, -74.032084">Bike Shop</option>
              <input class="sign-up-cta btn btn-primary" type="button" value="Add Stops" id="submit">
            </select>
          <input class="sign-up-cta btn btn-primary" type="button" id="buttonid" value="Go!" onclick="func()">
        </div>
      <br>
{% endblock content %}
