{% extends "base.html" %}
{%load static %}

{%block content%}
<script rel ="javascript" src="{% static "javascripts/shoreparkway.js" %}"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAde5aRQ262GgOgdqkY8Jiu5KzYQYj2YKg&callback=initMap">
</script>
<script rel ="javascript" src="{% static "javascripts/cityracks.js" %}"></script>
<script rel ="javascript" src="{% static "javascripts/markerclustererplus_packed.js" %}"></script>

<div id = routeheader> <h2>Shore Road Greenway</h2> </div>
<div id ="routecopy">Take a trip to historic Bay Ridge and ride along the Shore Road Parkway. Catch
  stunning views of the worlds longest (and most expensive) suspension bridge and even fish off of
  one of the many piers. Dont forget to work up an appetite and grab some of Brooklyn's famous
  L&B pizza. </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Location</th>
          <th>Distance</th>
          <th>Duration</th>
          <th>Difficulty</th>
          <th>Lane Type</th>
          <th>Bike Rack</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Brooklyn</td>
          <td>4.3</td>
          <td>30 minutes</td>
          <td class="alert alert-success">Easy</td>
          <td class="alert alert-success">Greenway</td>
          <td><img src="{% static "img/rackicon.png" %}"></td>
        </tr>
      </tbody>
    </table>
    </div>
        <div id="floating-panel">
            <strong>Route Head:</strong>
              <input id="start" type="text" value="Bay Ridge Ave" readonly="readonly"/></input>
            <br>
            <strong>End:</strong>
              <input id="end" type="text" value="Shore Parkway"readonly="readonly"/></input>
              <br>

          <b>Waypoints:</b> <br>
            <select multiple id="waypoints">
              <!-- <option value="40.638998, -74.036731">Shore Road Start</option> -->
              <option value="40.636948, -74.036726">Narrows Botanical Garden</option>
              <option value="40.639952, -74.032252">Owl's Head Park</option>
              <option value="40.594467, -73.981479">L&B Spumoni Gardens</option>
              <!-- <option value="40.595664, -74.000637">Shore Road End</option> -->
              <option value="40.620974, -74.032084">Bike Shop</option>
            </select>
        <input class="sign-up-cta btn btn-primary" type="button" id="buttonid" value="Directions">
        <input class="sign-up-cta btn btn-primary" type="button" id="gobutton" value="Turn-by-turn"</button>
      </div>
      <br>
    <div id="map"></div>
    <div id="right-panel"></div>
{% endblock content %}
