{% extends "base.html" %}

{% block content %}
<div class="container" align="center">
    <div class="row content-margin-top">
        <div class="panel panel-primary" style="width:40%">
            <div class="panel-body" style="width:80%">
                <form method="POST" action="#" role="form">
                    <div class="form-group">
                        <h2>Sign Up</h2>
                    </div>
                    <div class="form-group">
                        <input type="text" maxlength="50" id="first_name" name="first_name" placeholder="First Name" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" maxlength="50" id="last_name" name="last_name" placeholder="Last Name" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" maxlength="50" id="email" name="email" placeholder="Email" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" maxlength="50" id="password" name="password" placeholder="Password" class="form-control">
                    </div>
                    <div class="form-group">
                        <button id="signup-button" type="submit" class="sign-up-cta btn-primary">Sign Up</button>
                    </div>
                    <p class="form-group">By signing up, you agree to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.</p>
                    <hr>
                    <p>Already have an account? <a href="/login">Click Here.</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
