{% extends "base.html" %}
{%load static %}

{%block content%}
<script rel ="javascript" src="{% static "javascripts/westside.js" %}"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAde5aRQ262GgOgdqkY8Jiu5KzYQYj2YKg&callback=initMap">
</script>
    <div id="right-panel"></div>
      <div id="map"></div>
        <div id="floating-panel" style="text-align:left">
            <strong>Start:</strong>
              <input id="start" value="Battery Park" readonly="readonly"/></input>
            <br>
            <strong>End:</strong>
              <input id="end" value="George Washington Bridge "/> <br></input>
          <b>Waypoints:</b> <br>
            <select multiple id="waypoints">
              <option value="40.785668, -73.984504">Boat Basin Cafe</option>
              <option value="40.794520, -73.971377">Bike Shop</option>
              <option value="40.764437, -73.998921">Intrepid Museum</option>
              <input type="button" value="Add Stops" id="submit">
            </select>
          <input type="button" id="buttonid" value="Go!" onclick="func()">
        </div>
      <br>
{% endblock content %}
