{% extends "base.html" %}
{%load static %}

{%block content%}
<script rel ="javascript" src="{% static "javascripts/westside.js" %}"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAde5aRQ262GgOgdqkY8Jiu5KzYQYj2YKg&callback=initMap">
</script>
<script rel ="javascript" src="{% static "javascripts/cityracks.js" %}"></script>
<script rel ="javascript" src="{% static "javascripts/markerclustererplus_packed.js" %}"></script>
<!-- <div class="row content-margin-top"> -->
<div id = routeheader>
  <h2>West Side Greenway</h2>
</div>
<div id ="routecopy">Ride along Manhattan's scenic West Side with great views
  of the Hudson River, the famous USS Intrepid and the George Washington Bridge.
  On your way, stop by the Whitney Museum of American Art
  or grab a drink at the Boat Basin Cafe.
</div>
<!-- </div> -->
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Location</th>
              <th>Distance</th>
              <th>Duration</th>
              <th>Difficulty</th>
              <th>Lane Type</th>
              <th>Bike Rack</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Manhattan</td>
              <td>11.3</td>
              <td>1.5 hours</td>
              <td class="alert alert-warning">Moderate</td>
              <td class="alert alert-success">Greenway</td>
              <td><img src="{% static "img/rackicon.png" %}"></td>
            </tr>
          </tbody>
        </table>
        </div>
        <br>
    <ul class="enlarge">
    <li><img src="{% static "img\carousel\west_side\intrepid_museum.JPG" %}" width="300px" height="200px" alt="Museum" /><span><img src="(% static "img\carousel\west_side\intrepid_museum.JPG" %}" width="640px" height="472px" alt="Museum" /><br />Intrepid Museum</span></li>
    <li><img src="{% static "img/carousel/west_side/boat_basin_cafe.JPG" %}" width="300px" height="200px" alt="Cafe" /><span><img src="{% static "img/carousel/west_side/boat_basin_cafe.JPG" %}" width="640px" height="472px" alt="Cafe" /><br />Boat Basin Cafe</span></li>
    <li><img src="{% static "img/carousel/west_side/lighthouse.JPG" %}" width="300px" height="200px" alt="Lighthouse" /><span><img src="{% static "img/carousel/west_side/lighthouse.JPG" %}" width="640px" height="472px" alt="Lighthouse" /><br />Lighthouse</span></li>
    <li><img src="{% static "img/carousel/west_side/washington_bridge_lighthouse.JPG" %}" width="300px" height="200px" alt="Lighthouse" /><span><img src="{% static "img/carousel/west_side/washington_bridge_lighthouse.JPG" %}" width="640px" height="472px" alt="Lighthouse" /><br />Lighthouse under Washington Bridge</span></li>
    </ul>
    <br>
    <div id="floating-panel">
        <strong>Start:</strong>
          <input id="start" type="text" value="Battery Park" readonly="readonly"/></input>
        <br>
        <strong>End:</strong>
          <input id="end" type="text" value="George Washington Bridge"readonly="readonly"/></input>
          <br>
      <b>Waypoints:</b> <br>
        <select multiple id="waypoints">
          <option value="40.703490, -74.016883">Battery Park</option>
          <option value="40.785668, -73.984504">Boat Basin Cafe</option>
          <option value="40.764437, -73.998921">Intrepid Museum</option>
          <option value="40.739345, -74.008872">Whitney Museum</option>
          <option value="40.8499893,-73.9474389"> George Washington Bridge</option>
          <option value="40.794520, -73.971377">Bike Shop</option>
        </select>
    <input class="sign-up-cta btn btn-primary" type="button" id="buttonid" value="Directions">
    <input class="sign-up-cta btn btn-primary" type="button" id="gobutton" value="Turn-by-turn"</button>
  </div>
    <br>

<div id="map"></div>
<div id="right-panel"></div>

{% endblock content %}
